* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #4288bb;
    gap: 20px;
}

#userinput {
    
    width: 1px;
    height: 1px;

}
.correct {
    width: 400px;
    height: 100px;
    background: #b2cd43;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}
.correcthidden {
    display: none;
}
.btn {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color: chocolate;
}
