*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: darkslategray;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100vh;
}
main{
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    padding: 8px;
    width: 60%;
    height: 20%;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #333;
}
.movie-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding-left: 10px;
}
.movie-info h3{
    margin-left: 24px;
}
.movie-info h4{
    margin-left: 24px;
}
main div{
    width: 50%;
    height: 100%;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
header{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px 0;
}
form{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    gap: 5px;
    font-size: 23px;
    color: #fff;
    position: relative;

}
input{
    height: 30px;
}
#submit-btn{
    background-color: lightsalmon;
    border-radius: 5px;
    border: none;
}
#submit-btn:hover{
    background-color: rgb(206, 130, 100);
}
.movie-list{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    width: 80%;
    background-color: lightgoldenrodyellow;
    padding: 20px 0;
    border-radius: 10px;
}

#sort-alpha{
    background-color: lightgreen;
    border-radius: 5px;
    border: none;
    width: 200px;
}
#sort-alpha:hover{
    background-color: rgb(119, 197, 119);
}
#sort-rlsyear{
    background-color: lightcoral;
    border-radius: 5px;
    border: none;
    width: 200px;
}
#sort-rlsyear:hover{
    background-color: rgb(194, 103, 103);
}
#sort-rating{
    background-color: lightseagreen;
    border-radius: 5px;
    border: none;
    width: 200px;
}
#sort-rating:hover{
    background-color: rgb(25, 139, 134);
}
.sort-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}